@using ClassifierComponent.SerializationModels;

@{
    @model ClassifierClassRootObject
}

<div>
    <p>
        Ask any question you like about the weather.

        @using (Html.BeginForm())
        {
            @Html.TextBox("textInput", "", new { id = "textInput", style = "width:330px" })
            <input id="classfiyButton" type="submit" value="classfiy" />
        }

    </p>

    <p>
        <ul>
            @foreach (var item in @Model.classes)
            {
                //<li>Class: @item.class_name, Confidence: @String.Format("{0:0.##}", item.confidence)</li>
                <li>It's @String.Format("{0:P}", item.confidence) sure you're asking about @item.class_name.</li>
            }
        </ul>
    </p>
</div>